{% load helpers %}
<nav class="navbar is-link">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url "home" %}">
                    <strong>Home</strong>
                </a>
                <a class="navbar-item" href="{% url "tasks-create" %}?{{ request.GET.urlencode }}">
                    <strong>Add Task</strong>
                </a>
                {% with params=request.GET.urlencode %}
                    {% if hide_completed %}
                        <a class="navbar-item" href="{% url "home" %}{% relative_url "hide_completed" "false" params%}">
                            <strong>Show All</strong>
                        </a>
                    {% else %}
                        <a class="navbar-item" href="{% url "home" %}{% relative_url "hide_completed" "true" params%}">
                            <strong>Hide completed</strong>
                        </a>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="navbar-end">
                <a class="navbar-item">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>&nbsp;
                    <strong>{{ request.user.username }}</strong>
                </a>
                <a class="navbar-item" href="/logout/">
                    <strong>Logout</strong>
                </a>
            </div>
        </div>
    </div>
</nav>