<nav class="navbar is-link">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    <strong>Home</strong>
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/logout/">
                    <strong>Logout</strong>
                </a>
            </div>
        </div>
    </div>
</nav>